# Ignorer le dossier de l'environnement virtuel
venv/

# Ignorer les fichiers de cache Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Ignorer les fichiers de logs et temporaires
*.log
*.tmp

# Ignorer les fichiers de configuration et d'environnement
.env
